:scss
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: sans-serif;
        font-weight: 900;
    }

    h1 {
        font-size: 2rem;
    }

    a {
        text-decoration: none;
        
        color: white;
    }

    article {
        width: 80%;
        
        margin: 1rem auto;
        
        overflow: hidden;
    }

    header {
        background: rgba(251, 192, 45, 0.8);
        color: white;
        width: 100%;
    }

    img {
        margin: 2rem auto;
        
        max-height: 50vh;
        width: 100%;
        
        object-fit: cover;
        
        border-radius: 1rem;
    }

    .md-button {
        appearance: none;
        -webkit-appearance: none;
        
        background: black;
        
        color: white;
        
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                    0 1px 5px 0 rgba(0, 0, 0, 0.12), 
                    0 3px 1px -2px rgba(0, 0, 0, 0.2);
                    
        font-size: 14px;
        display: inline-block;
        height: 36px;
        min-width: 88px;
        padding: 6px 16px;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border:0;
        border-radius: 2px;
        outline:0;
        
        display: block;
        
        width: 80%;
        
        margin: 0 auto;
    }

    #hamburger-menu {
        display: inline-block;

        margin: 1rem;
        margin-left: 2rem;
        margin-right: 1.5rem;
    }

    #navigation-title
    {
        display: inline-block;
    }

    #icon-panel
    {
        display: inline-block;

        float: right;

        margin: 1rem;
        margin-right: 2rem;
    }

    #icon-panel i {
        margin-left: 0.5rem;
    }

    #bottom-navigation-panel {
        position: fixed;

        bottom: 0;
        left: 0;

        margin-bottom: 0;

        width: 100%;

        border-top: solid 1px ghostwhite;
        
        padding: 0;
    }

    .previous-step
    {
        display: inline-block;

        margin-left: 1rem;
    }

    .next-step
    {
        display: inline-block;

        margin-right: 1rem;

        float: right;
    }

    button .fas {
        font-size: 2rem;
    }

    #bottom-navigation-panel button {
        padding: 0.5rem;
    }

    #help
    {
        display: inline-block;
    }

    #home
    {
        display: inline-block;
    }
    
    #alert-box
    {
        background-color: yellow;
    }
    
%header#navigation-bar-top
    %div#hamburger-menu
        %i.fas.fa-bars
    %div#navigation-title 
        Welcome
    %div#icon-panel
        %i.fas.fa-question-circle
%main
    %section
        %article
            %h1#step-title !    Pour Cereal
            %title#sub-title Open Cereal Box 
            %p1#description Open the tab to the cereal box and pull open the bag carefully and add the cereal to your bowl
            %section#alert-box
                %p1#alert-title Watch out for the cereals
                %p1#alert-description If you apply too much force when opening the cereal bag, the cereal may go flying across the room

%ul#bottom-navigation-panel
    %li.previous-step
        %a{:href => "/recipe/step1_screen"}
            %button
                %i.fas.fa-caret-left    
    %li.next-step
        %a{:href => "/recipe/step2_screen"}
            %button
                %i.fas.fa-caret-right