:scss
    body {
        margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: sans-serif;
        font-weight: 900;
    }

    h1 {
        font-size: 3rem;
    }

    article {
        width: 80%;
        
        margin: 4rem auto;
        
        overflow: hidden;
    }

    header {
        background: black;
        color: white;
        width: 100%;
        height: 6rem;
    }

    img {
        margin: 2rem auto;
        
        max-height: 50vh;
        width: 100%;
        
        object-fit: cover;
        
        border-radius: 1rem;
    }

    button {
        appearance: none;
        -webkit-appearance: none;
        
        background: black;
        
        color: white;
        
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                    0 1px 5px 0 rgba(0, 0, 0, 0.12), 
                    0 3px 1px -2px rgba(0, 0, 0, 0.2);
                    
        font-size: 14px;
        display: inline-block;
        height: 36px;
        min-width: 88px;
        padding: 6px 16px;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border:0;
        border-radius: 2px;
        outline:0;
        
        display: block;
        
        width: 80%;
        
        margin: 0 auto;
    }
    
    ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
        border-style: solid;
        border-color: black transparent transparent transparent;
        border-width: 2px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    #hamburger-menu
    {
        
        height: 100%;
        padding: 2.5rem 0;
        width: 96px;
        display: inline-block;
        text-align: center;
        
    }
    
    #navigation-title
    {
        
        height: 100%;
        padding: 15px 0;
        display: inline-block;
        
    }
    
    #icon-panel
    {
        
        height: 100%;
        padding: 2.5rem 0;
        display: inline-block;
        float: right;
        
    }
    
    #previous-step
    {
        display: inline-block;
        width: 96px;
        height: 100%;
        float: left
    }
    
    #next-step
    {
        display: inline-block;
        width: 96px;
        height: 100%;
        float: right;
    }
    
    #help
    {
        display: inline-block;
    }
    
    #home
    {
        display: inline-block;
    }
    
%header#navigation-bar-top
    %div#hamburger-menu
        %p1 =
    %div#navigation-title 
        %p1 Step 1
    %div#icon-panel
        %div#help ?
        %div#home H
%main
    %section
        %article
            %h1#step-title Grab Bowl
            %p1#sub-title Retrieve bowl 
            %p1#description Reach into your cabinet and grab a bowl to use as a container for your cereal. If you don’t have one, use a ziplock bag

%ul
    %li#previous-step
        %button <
    %li#next-step
        %button >